<!DOCTYPE html>
<html>
  <head>
    <title>Trace Input</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>Please input lot id to trace:</h1>
    <form id="formTraceInput" name="traceinput" method="post" action="/traceinput">
      <input id="inputLotid" type="text" placeholder="lotid" name="lotid" />
      <button id="btnSubmit" type="submit">Trace</button>
    </form>
  </body>
</html>